@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,100,400italic|Roboto+Mono:400,500);

body {
	background-color: gray;
}



* {
	padding:0;
	margin:0;
	font-family:Roboto;
	color: rgba(0,0,0,.87);
	font-weight: 400;
}

a:hover{color: #000}



[title] {text-align: center;}

[bg] {
	width: calc(100vw + 20px);
	position: fixed;
	-webkit-filter: blur(5px);
	        filter: blur(5px);
	z-index: -1;
}

[title] [bg] {
	left: -10px;
	top: -320px;
}

[title-text] {
	background: rgba(0,0,0,.5);
	width: 360px;
	padding: 24px 8px;
	margin: 48px auto;
	z-index: 1;
}

[title-text] h1 {
	color: #FFF;
}

[title-text] h2 {
	color: rgba(255,255,255,.75);
	margin-top: 8px;
	font-weight: 400;
}

[title-text] h3 {
	color: rgba(255,255,255,.75);
	font-family: Roboto Mono;
	margin-top: 16px;
	font-size: 12px;
	letter-spacing: .1em;
}


[part1] {
	background-color: #FFF;
	color: #3F51B5;
	text-align: justify;
	padding: 50px 10vw;
	-webkit-column-count: 2;
	-webkit-column-gap: 10vw;
}

[part2] {
	/*hier komt flex shit*/
}

nav {
	background: #FFF;
	padding: 24px calc(50vw - 600px);
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li a {color: rgba(0,0,0,.7);}

@media screen and (min-width: 721px) and (max-width: 1230px) {nav li:nth-child(3) {clear: left;}}
@media screen and (max-width: 720px) {
	nav ul {display: block;}
	nav li {
		margin:auto;
		width: 100%;
		text-align: center;
		padding: 8px;
	}
}
