@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,100,400italic|Roboto+Mono:400,500);
* {
	padding: 0;
	margin: 0;
	font-family: Roboto;
	color: rgba(0, 0, 0, .87);
	font-weight: 400;
}
a {
	text-decoration: none;
}
a:hover {
	color: #000
}
[title] {
	text-align: center;
}
[bg] {
	width: calc(100vw + 20px);
	position: fixed;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	z-index: -1;
}
[title] [bg] {
	left: -10px;
	top: -20vw;
}
[title-text] {
	background: rgba(0, 0, 0, .5);
	width: 360px;
	padding: 24px 8px;
	margin: 48px auto;
	z-index: 1;
}
[title-text] h1 {
	color: #FFF;
}
[title-text] h2 {
	color: rgba(255, 255, 255, .75);
	margin-top: 8px;
	font-weight: 400;
}
[title-text] h3 {
	color: rgba(255, 255, 255, .75);
	font-family: Roboto Mono;
	margin-top: 16px;
	font-size: 12px;
	letter-spacing: .1em;
}
nav {
	z-index: 100;
	position: fixed;
	background: #FFF;
	width: calc(100vw - 72px);
	max-width: 320px;
	height: 100vh;
	top: 0;
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
	left: -320px;
}
nav.extended {
	left: 0px;
}
[hamburger] {
	font-size: 48px;
	position: absolute;
	left: 335px;
	-webkit-transition: left 0.5s ease;
	transition: left 0.5s ease;
	top: 0px;
	color: #FFF;
  	cursor: pointer;
}
nav ul {margin-top: 12px;}
nav a {
	color: rgba(0, 0, 0, .75);
	display: block;
	padding: 12px 24px;
}
nav a:hover {background: #F0F0F0;}

/*nav {
	background: #FFF;
	padding: 24px calc(50vw - 600px);
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

nav li {padding: 0 8px;}

nav li a {color: rgba(0,0,0,.7);}

@media screen and (min-width: 761px) and (max-width: 1230px) {nav li:nth-child(3) {display: block;}}
@media screen and (max-width: 760px) {
	nav ul {display: block;}
	nav li {
		margin:auto;
		width: 100%;
		text-align: center;
		padding: 8px;
	}
}*/
ter;
		padding: 8px;
	}
}*/
